DBMS/src/eg/edu/alexu/csd/oop/db/College.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="College"><xs:complexType><xs:sequence><xs:element name="row" minOccurs="0" maxOccurs="unbounded"><xs:complexType><xs:sequence><xs:element name="Name" type="xs:string"></xs:element><xs:element name="Adress" type="xs:string"></xs:element><xs:element name="Age" type="xs:integer"></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>